  @charset "utf-8";
	
  html {
    background-color:#e9f0f2;
  }

   div {
    background-color:white;
  }

  a {
    text-decoration:none;
  }

  .menu {
    height:70px;
    background-color:white;
  }

  .menu>ul {
    text-align:right;
    margin-right:5px;
  }

  .menu>ul>li {
    display:inline-block;
    width:100px;
    height:40px;
    margin-left:20px;
    margin-top:5px;
    box-shadow:2px 2px 5px;
    background-color:#cce2e8;
    text-align:center;
    line-height:2.5;
  }

  .menu>ul>li>a {
    color:#576dad;
    font-weight:bold;
  }

  .button a {
    color:white;
    font-weight:bold;
  }

  .container {
    text-align:center;
  }

  .contents {
    font-weight:bold;
    line-height:1.5;
    1background-color:#333;
  }
  
  .button {
    1background-color:#444;
    overflow:auto;
    margin-left:40%;
  }

  #left, #right {
    float : left;
    box-shadow:2px 2px 5px;
    background-color:#d1dfe3;
    height:90px;
    line-height:5.5;
    margin:10px 0px;
  }

  #left {
    width:15%;
    margin-right:10px;
  }

  #right {
    width:15%;
  }
 
  img {
    margin:20px;
  }

  footer {
    margin-top:10px;
    height:50px;
    text-align:center;
    background-color:white;
    color:#1e5a6b;
    font-weight:bold;
    line-height:1.5;
  }
