@charset "utf-8";
	
html {
  background:#e9f0f2; 
}

div, header, footer{
  background:white;
}

a {
  text-decoration:none;
}

header{
  height:70px;
}

ul{
  text-align:right;
  margin-right:5px;
}

ul>li{
  display:inline-block;
  width:100px;
  height:40px;
  margin-top:5px;
  margin-left:20px;
  box-shadow:2px 2px 5px;
  text-align:center;
  line-height:2.5;
  background-color:#cce2e8;
  font-weight:bold;
}

li a{
  color:#576dad;
}

section {
  margin-top:10px;
}

 .panel{
  padding-top:50px;
  padding-bottom:50px;
  padding-left:80px;
  overflow:auto;
}

 img {
   height:500px;
   border:solid gray 1px;
 }

.photo, .text{
  float:left;
}

.text{
  width:50%;
  margin-left:70px;
}

#sven{
  margin-top:10px;
}

footer{
  text-align:center;
  margin-top:10px;
  clear:left;
  height:60px;
  padding-top:12px;
}
